<h1> Artist Information </h1>

<h3>Name: <%= @artist.name %></h3>

<p><%= @artist.song_count%> song</p>
   

   <ul><% @artist.songs.each do |song| %>
        <li><%= link_to song.title, song_path(song) %></li>
        <%end%>
        </ul>
